body::before{
    display: block;
    content: " ";
    height: 50px;
}

#maps{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
li a:hover{
            
    transform: scale(1,2);
        
    }
 @media (min-width: 768px) {
        #textbox{
            width: 50%;
        }
    }